:root {
	--color-dark: #171819;
	--color-light: #fdfdfd;
	--color-accent: #00a4e5;
	--color-gray: #48555b;
	--color-gray-alt: #e6e6e6;
	// --color-dark-alt: #292a32;

	--border: 1px solid var(--color-gray-alt);
	--border-radius: 14px;
	--border-radius-small: 7px;
	--border-radius-large: 45px;
	--shadow: 0 5px 0 0 var(--color-dark);
	
	--font-family-base: "Open Sans", sans-serif;
	--second-family: "Bebas Neue", sans-serif;

	
	--container-width: 902px;
	--container-padding-x: 20px;

	--section-padding-y: 70px;

	--input-height: 40px;
	--button-height: 40px;

	--transition-duration: 0.2s;
}